#######################################################
#                                                     #
# File Name: printer.cfg                              #
# Author: Juan Ignacio Munoz Sanchez                  #
# Creation Date: 2024-10-04                           #
# Company: R3DIMENSION                                #
# Firmware Version: Klipper v0.12.0-316-g96cceed2     #
#                                                     #
# Description:                                        #
# This configuration file sets the main parameters and#
# includes the necessary settings for the printer. It #
# defines the kinematics, speed, acceleration, and    #
# several other specific adjustments for the          #
# Cartesian-type printer. The file also includes      #
# references to other configuration files and macros  #
# that enhance the printer's capabilities.            #
#                                                     #
#######################################################

# INCLUDE CFGs
# HARDWARE CONFIGURATION
[include HARDWARE/devices.cfg] # Includes devices UIDs
[include HARDWARE/board_pins.cfg] # Includes board pin configurations
[include HARDWARE/manta_m8p_v2.cfg] # Includes specific settings for the Manta M8P V2.0
[include HARDWARE/ebb42_canbus.cfg] # Includes configurations for the CAN bus


# PRINT MACROS
[include SOFTWARE/MACROS/print_macros.cfg]
[include SOFTWARE/MACROS/idex_macros.cfg] # Includes macros for IDEX printers, toolchanges, copy modes...

# GENERAL MACROS

[include SOFTWARE/MACROS/prompt_macros.cfg] # Includes command macros
[include SOFTWARE/MACROS/resonances.cfg] # Includes the measuring resonances commands and input shaper configuration
[include SOFTWARE/MACROS/bed_measuring.cfg]
[include SOFTWARE/MACROS/security_checks.cfg]
[include SOFTWARE/MACROS/manual_actions.cfg]
[include SOFTWARE/MACROS/filament_management.cfg]
[include SOFTWARE/MACROS/guided_procedures.cfg]
[include SOFTWARE/MACROS/redefined_macros.cfg]

# OTHERS
[include SOFTWARE/miscelaneous_config.cfg]



##################################################################
# PRINTER CONFIGURATION - CARTESIAN TYPE
##################################################################
[printer]
kinematics: hybrid_corexy # Kinematics type
max_velocity: 800   # Maximum speed in mm/s
max_accel: 4000  # Maximum acceleration, printing recomendation is 1500 mm/s2 
max_z_velocity: 30  # Maximum speed of the Z axis
max_z_accel: 100  # Acceleration of the Z axis
square_corner_velocity: 5.0  # Corner speed at 90� (Jerk in Klipper)


#[lis2dw]
#cs_pin: btt_lis2dw:gpio9
#spi_bus: spi1a
#spi_software_sclk_pin: btt_lis2dw:gpio10
#spi_software_mosi_pin: btt_lis2dw:gpio11
#spi_software_miso_pin: btt_lis2dw:gpio8
#axes_map: x,y,z


#################################################################
# VALUES MODIFIABLE VIA SAVE COMMAND
#################################################################
# Sections here defined only have the parameters wich can be modified via save command.
# The other parameters have been defined in their respective section and config file
# Sections preceded by # have been saved and do not have the specified value.

# Adjust Z sensor
[probe]
#z_offset: 1.5


# PID values for each controller should also be specified here

[extruder]
#control: pid # Control method for the extruder
#pid_Kp: 23.745  # PID values adjusted for optimal temperature control of the extruder.
#pid_Ki: 2.595
#pid_Kd: 54.316

[heater_generic auxiliar_T0_heater]
control: pid # Control method for the extruder
pid_kp: 16.890
pid_ki: 0.269
pid_kd: 265.380


[extruder1]
control: pid # Control method for the second extruder
pid_Kp: 25.354
pid_Ki: 1.818
pid_Kd: 88.420

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.890
#*# pid_ki = 0.269
#*# pid_kd = 265.380
#*#
#*# [probe]
#*# z_offset = 1.150
